{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

{% if expense %}
    <form action="{% url 'expenses:edit' expense.id %}" method="post">
        {% csrf_token %}

        <fieldset>
            <legend><h1>{{ expense.title }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}
            <input type="text" name="price" id=""
        </fieldset>

    </form>
    <p>hiu</p>
    <ul>
    {% for expense in all_expenses %}
        <li><a href="/expenses/{{ expense.id }}/">{{ expense.title }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>No expenses are available.</p>
{% endif %}
