{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
<script src="{% static 'core/d3.min.js' %}"></script>

{% if all_expenses %}
    <p>hiu</p>
    <ul>
    {% for expense in all_expenses %}
        <li><a href="/expenses/{{ expense.id }}/">{{ expense.title }}</a></li>
    {% endfor %}
    </ul>

    <svg id="expenses_chart" width="600" height="500"></svg>
    <script src="{% static 'expenses/chart.js' %}?v=5" defer></script>
    {{ expense_chart_data|json_script }}
{% else %}
    <p>No expenses are available.</p>
{% endif %}
